/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/* ================================================ */
/*						Achtergrond kleur fade								*/
/* ================================================ */

html {
	animation: bgcolor infinite 10s;
}

@keyframes bgcolor {

0% {
	background: black;
}

20% {
	background: #262525;
}

40% {
	background: black;
}

60% {
	background: #262525;
}

80% {
	background: black;
}

100% {
	background: #262525;
}
}

/* =======================Einde=================== */


/* ================================================ */
/*				 				Placeholder - Video								*/
/* ================================================ */

#video-placeholder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
	width: 50em;
	height: 35em;
	/* box-shadow: 1px 1px 50px 1px #A5B19E; */
}

/* =======================Einde=================== */

/* ================================================ */
/*				 							Captions										*/
/* ================================================ */

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/* =======================Einde=================== */

/* ================================================ */
/*				 							Voices											*/
/* ================================================ */

/* =====Robot Voice====== */
.voice1 {
	padding: 5px;
	color: White;
	margin-top: -26em;
	font-size: 24px;
	margin-left: 25.5%;
	text-align: left;
	max-width: 25.3em;
	font-family: "Brenner Sans Light";
}
/* =====Eind====== */

/* =====KD6 Voice====== */
.voice2 {
	color: white;
	font-size: 24px;
	font-style: normal;
	margin-left: 25.5%;
	text-align: left;
	font-family: "Brenner Sans Light";
	max-width: 25.3em;
}
/* =====Eind====== */

/* =====By-passer====== */
.voice3 {
	color: white;
	font-size: 16px;
	margin-left: 39em;
	margin-top: -14em;
	transform: rotate(-15deg);
	font-family: "Brenner Mono Light Italic";
}
/* =====Eind====== */

/* =====Intercome Voice====== */
.voice4 {
	color: white;
	margin-top: -9em;
	font-size: 24px;
	font-style: normal;
	margin-left: 10%;
	text-align: left;
	font-family: "Brenner Sans Light";
	max-width: 25.3em;
}
/* =====Eind====== */

/* =======================Einde=================== */

/* ================================================ */
/*					 				Extra classes 									*/
/* ================================================ */

.cells { /* cells - voice1 */
	color: White;
	font-family: "Brenner Sans Condensed";
	font-weight: 600;
	font-size: 300px;
	margin-top: -1.5em;
	position: absolute;
}
 .interlinked {
	 color: lime;
	 background-color: black;
	 padding: 5px;
	 font-family: "Brenner Slab";
	 font-weight: 600;
 }

/* =======================Einde=================== */

/* **********************************************
The first paragraph, with extended timing for
	all siblings. Basically what it does is that
	it shows the text after a delay, which
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

/* ================================================ */
/*					 			Enkele woorden (test) 						*/
/* ================================================ */


/* ================================================ */
/*		Officer K D 6 - 3 . 7. Let’s begin. Ready?		*/
/* ================================================ */

/* .p0 span {
	opacity: 0;
} */

/* Officer */
/* .p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
} */
/* K */
/* .p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 200;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
} */

/* ======================Einde Zin================= */


/* ================================================ */
/*												Yes, sir									*/
/* ================================================ */

/* ======================Einde Zin================= */


/* ================================================ */
/*						Recite your baseline.									*/
/* ================================================ */

/* ======================Einde Zin================= */


/* ================================================ */
/*		And blood-black nothingness began to spin			*/
/* ================================================ */

/* ======================Einde Zin================= */


/* ================================================ */
/*   A system of cells interlinked within cells,  	*/
/* ================================================ */

/* ======================Einde Zin================= */


/* ========================================================== */
/* 						Have you ever been in an institution?						*/
/* ========================================================== */


/* =======================Einde=================== */



/* ================================================ */
/*					 					soundcaptions 								*/
/* ================================================ */


.soundsheader p{
	font-family: "Brenner Sans";
	color: white;
	font-size: 24px;
	margin: -25em 0px 0px 51em;
	text-align: center;
}

/* =====drum===== */
.soundcaption0 {
	font-family: "Brenner Sans";
	color: white;
	font-size: 24px;
	margin: -23.5em 0px 0px 55.5em;
}
/* =====alarm===== */
.soundcaption1 {
	font-family: "Brenner Sans";
	color: red;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====high freq 1===== */
.soundcaption2 {
	font-family: "Brenner Sans";
	color: blue;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}

/* =====low freq 1===== */
.soundcaption3 {
	font-family: "Brenner Sans";
	color: yellow;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====high freq 2===== */
.soundcaption4 {
	font-family: "Brenner Sans";
	color: pink;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====low freq 2===== */
.soundcaption5 {
	font-family: "Brenner Sans";
	color: green;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====high freq 3===== */
.soundcaption6 {
	font-family: "Brenner Sans";
	color: brown;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====low freq 3===== */
.soundcaption7 {
	font-family: "Brenner Sans";
	color: white;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====high freq 4===== */
.soundcaption8 {
	font-family: "Brenner Sans";
	color: purple;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;;
}
/* =====high freq 4 increasing===== */
/* 0:33 tot 1:15 */
.soundcaption9 {
	font-family: "Brenner Sans";
	color: orange;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;
}
/* =====Taunting music===== */
.soundcaption10 {
	font-family: "Brenner Sans";
	color: aqua;
	font-size: 24px;
	margin: -22em 0px 0px 55.5em;;
}
/* =======================Einde=================== */

/* .sound0 iframe {
		animation: video infinite 10s;
	}

	@keyframes video {

	0% {
		box-shadow: 1px 1px 50px 1px red;
	}

	20% {
		background: yellow;
	}

	40% {
		box-shadow: 1px 1px 50px 1px red;
	}

	60% {
		box-shadow: 1px 1px 50px 1px yellow;
	}

	80% {
		box-shadow: 1px 1px 50px 1px red;
	}

	100% {
		box-shadow: 1px 1px 50px 1px yellow;
	}
	}

.sound1 iframe {
	animation: shadow0 1s;
}

@keyframes shadow0 {

100% {
	box-shadow: 1px 1px 50px 1px red;
}
{
	transition: ease-out 1s;
}
}

.sound2 iframe {
animation: shadow1 1s;
}

@keyframes shadow1 {

100% {
	box-shadow: 1px 1px 50px 1px blue;
}
}

.sound3 iframe{ 	animation: shadow2 1s;
}

@keyframes shadow2 {

100% {
	box-shadow: 1px 1px 50px 1px yellow;
}
} */
