/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/* code om de achtergrond van kleur te laten veranderen (begin)*/

html {
	/* background-image: radial-gradient(circle at center center, rgb(32,32,32),rgb(8, 8, 8)); */
	animation: bgcolor infinite 10s;
}

@keyframes bgcolor {

0% {
	background: black;
}

20% {
	background: #262525;
}

40% {
	background: black;
}

60% {
	background: #262525;
}

80% {
	background: black;
}

100% {
	background: #262525;
}
}
/* code om de achtergrond van kleur te laten veranderen (eind)*/

#video-placeholder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
	/* box-shadow: 1px 1px 20px 0.1px #A5B19E; */
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}


.voice1 { /* robot voice */
	padding: 5px;
	color: White;
	/* margin-left: 15em; */
	margin-top: -20em;
	font-size: 24px;
	/* margin-right: 35%; */
	margin-left: 31.6%;
	text-align: left;
	font-family: "Brenner Sans Light Italic";
}

.voice2 { /* KD6 voice */
	color: white;
	font-size: 24px;
	font-style: normal;
	margin-right: 35%;
	margin-left: 35%;
	text-align: center;
	font-family: "Brenner Slab Bold ital"
}

.voice3 { /* fuck off skin-job */
	color: white;
	font-size: 16px;
	margin-left: 39em;
	margin-top: -14em;
	transform: rotate(-15deg);
	font-family: "Brenner Mono Light Italic";
}

.voice4 { /* you are done voice */

}

/* **********************************************
The first paragraph, with extended timing for
	all siblings. Basically what it does is that
	it shows the text after a delay, which
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */


/* ================================================ */
/*		Officer K D 6 - 3 . 7. Let’s begin. Ready?		*/
/* ================================================ */

.p0 span {
	opacity: 0;
	/* font-family: brenner; */
}

/* Officer */
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
/* K */
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 200;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* D */
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 200;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* 6 */
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 200;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* - */
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.26em;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* 3 */
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* . */
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* 7 */
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	color: lime;
	background-color: black;
	padding: 5px;
	font-family: "Brenner Slab";
	font-weight: 600;
}
/* Let's */
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
}
/*  begin */
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
}
/*  ready? */
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "Brenner Mono";
	font-weight:200;
}

/* ======================Einde Zin========================== */

/* ================================================ */
/*												Yes, sir									*/
/* ================================================ */

.p1 span {
	opacity: 0;
	/* font-family: brenner; */
}

/* yes */
.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
	color: pink;
}
/* sir */
.p1.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	color: pink;
}

/* ======================Einde Zin========================== */

/* ================================================ */
/*												........									*/
/* ================================================ */
